{% extends 'base.html' %}
{% block title %}Добавить курс{% endblock %}
{% block content %}
<a href="/courslist">Назад</a>
<h1>Добавить</h1>
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    <strong>Ошибка! </strong>{{ message }}
</div>
{% endfor %}
<form action="/addcourse" method="post">
    {% csrf_token %}
    <strong>Название направления: </strong> <input type="text" name="name"/><br>
    <strong>Преподаватель: </strong> <input type="text" name="teacher"/><br>
    <br>
    <input type="submit" value="Добавить">
</form>
{% endblock %}